# Ignore node_modules folder
node_modules/

# Ignore log files
*.log
logs/

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build output
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/